<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="openweathermap-widget-11"></div>
    <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js"></script>
    <script>
      window.myWidgetParam ? window.myWidgetParam : (window.myWidgetParam = []);
      window.myWidgetParam.push({
        id: 11,
        cityid: "1252416",
        appid: "b698d98579153007c822ba67b78d73d0",
        units: "metric",
        containerid: "openweathermap-widget-11",
      });
      (function () {
        var script = document.createElement("script");
        script.async = true;
        script.charset = "utf-8";
        script.src =
          "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(script, s);
      })();
    </script>
  </body>
</html>
